.search-bar {
  display: block;
}

.video-preview {
  width: 300px;
  display: inline-block;
  vertical-align: top;
  margin-right: 15px;
}

.video-title {
  width: 300px;
}

.channel-picture {
  display: inline-block;
  width: 50px;
}


.video-info {
  display: inline-block;
  width: 200px;
}