.thumbnail {
  width: 300px;
  display: block;
}

.thumbnail-row {
  margin-bottom: 12px;
}

.search-bar {
  display: block;
}

.video-preview {
  width: 300px;
  display: inline-block;
  vertical-align: top;
  margin-right: 15px;
}

.channel-picture {
  display: inline-block;
  width: 50px;
  vertical-align: top;
}


.video-info {
  display: inline-block;
  width: 200px;
}

.video-title {
  margin-top: 0;
}

.profile-picture {
  width: 40px;
  border-radius: 50px;
}